.table {
    border-style: hidden;
}

.table.table-bordered {
    margin-bottom: 0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: white;
    color: #000000;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: rgba(0, 0, 0, 0.03);
}

.custom-table {
    width: 100%;
    /* width: 100vw; */
    border: 1px solid #B3B9BD;
    border-radius: 6px;
    overflow:hidden;
    font-family: 'Kanit';
    font-size: 0.875rem;
}

.custom-thead {
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #B3B9BD;
}

.custom-th {
    font-weight: 500;
    color: #366F47;
    text-align: center;
    vertical-align: middle;
}

.custom-td {
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
}

.custom-p {
    margin-bottom: 0;
    padding: 0.25rem 0.25rem;
}