.title {
    font-family: 'Kanit';
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 1.625rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.625rem;
}

/* Components Start Here */
